body {
    padding: 0;
    margin: 0;
    background-color: #000000;
  }
  
  /* Hacer que todos los textos sean blancos */
  * {
    color: white;
    box-sizing: border-box;
    font-family: 'calibri';
    font-size: 18px;
  }
  
  header {
    align-items: center;
    background-color: #292524;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  /* Boton para add el todo */
  #add-todo {
    margin: 2%;
    all: unset;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: #2f0059;
    font-size: 1rem;
  }
  
  /* Contenedor para todas las columnas */
  main {
    display: flex;
    gap: 1rem;
  }
  
  .default {
    background-color: rgb(88, 82, 82);
    margin-top: 5%;
    margin-left: 2%;
    flex-direction: column;
    display: flex;
    min-width: 200px;
    border-radius: 5px;
    width: 20%;
    height: 500px;

  }

  #form{
    
    background: #24303c;
    margin: auto;
    margin-top: 100px;
    padding: 30px;
    flex-direction: column;
    border-radius: 5px;
    overflow:visible;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }

  .controls{
    width: 100%;
    padding: 10px;
    background:#24303c;
    border-radius: 5px;
    margin-bottom: 16px;
    border: 1px solid #2f0059;
    font-size: 18px;
  }

  #title {
    text-align: center;
    font-weight : bold;
  }

  img{
    display: inline-block;
 
    width:45px ; 
    height: 45px;
  }

  .logo{
    padding-right: 80%;
    width: 5%;
    height: 5%;

  }

  .container{
    width: 100%;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  .row{
    width: 100%;
    display: flex;
    padding: 10px;
  
  }
  .class__boton{
    margin: 0 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .hidden {
    display: none;
  }
  